body {
    margin: 0;
}
.content {
    padding: 10px 30px 60px;
}
textarea {
    border: 1px solid gray;
    padding: 10px;
    margin-right: 10px;
    background-color: #fbfbfb;
    float: left;
display: block;
}
input[type=submit], input[type=reset] {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    display: block;
    width: 120px;
    height: 35px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    /* transition: 1s; */
}
label,
input[type=radio]
 {
    display: block;
    float: left;
    margin-bottom: 10px;
}
label {
    text-align: left;
    width: 250px;
    padding-right: 20px;
}
input:hover {
    transition: 1s;
}
.create {
    background-color: #226fb0;
}
.create:hover {
    background-color: #579bd6;
}
.reset {
    background-color: #1a9d47;
}
.reset:hover {
    background-color: #3ec76d;
}